body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
}

.greenButton {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 8px;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}
